@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .logo-font {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .sidebar-item {
    @apply flex gap-2 py-3 px-16 text-xl font-semibold items-center hover:bg-slate-300 hover:text-sky-300 rounded;
  }

  .input {
    @apply w-80 rounded focus:outline-sky-400 focus:text-sky-400 disabled:border-gray-400 disabled:bg-gray-100;
  }

  .bg-gradient {
    @apply bg-gradient-to-b from-indigo-400 via-sky-400 to-emerald-400;
  }
}
