@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .logo-font {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .sidebar-item {
    @apply max-md:px-1  flex gap-2 max-md:gap-0 max-md:justify-center py-3 px-16 text-xl font-semibold items-center hover:bg-slate-300 hover:text-sky-300 rounded;
  }

  .input {
    @apply rounded focus:outline-sky-400 focus:text-sky-400 disabled:border-gray-400 disabled:bg-gray-100;
  }

  .bg-gradient {
    @apply bg-gradient-to-b from-indigo-400 via-sky-400 to-emerald-400;
  }

  .btn {
    @apply flex-center gap-2 bg-sky-400 my-5 shadow rounded py-1 px-4 text-white active:bg-sky-500 font-semibold;
  }

  .howl-btn{
    @apply flex-center bg-black rounded-full p-5 h-[125px] w-[125px] cursor-pointer
  }

  .chatlist-item{
    @apply py-2 px-2 flex justify-start items-center gap-2 rounded cursor-pointer w-full
  }

}

.howling {
  background-image: url("/howling_poster.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

